# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build output
dist/
build/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.idea/
.vscode/
*.swp

# os
.DS_Store
Thumbs.db

# prisma
packages/db/generated/

# misc
.turbo/
coverage/
.eslintcache
